/*Dan Latre Web
Diseñado por Daniel Latre
Version 1
*/







/*VERSION MOVIL*/
/*GENERAL*/

* {
    box-sizing: border-box;
    font-family: "Questrial", sans-serif;
    font-optical-sizing: auto;
}
   @media (max-width: 1023px) {
    
       
body{
    margin: 0;
    background-color: rgb(250, 250, 250);
    padding: 0;
}

html{
    overflow-y: scroll;
    font-size: 16px;
}
  
h1, h2, h3, h4, p{
    
    margin: 0;
    color: black;
    
   

    
}
/* el vw modifica el tamaño segun las dimensiones del viewport*/
h1{
    font-size: 2rem;
    font-weight:700
 }
 
h2{
    font-size: 2rem;
    font-weight: 100;
 }
h3{
    font-size: 2rem;
}

h4{
    font: size 1rem;;
    
}
p{
    font-size: 1re;
}
a{
    text-decoration: none;
    color: black;
}

.responsive-image{
    width:100%;
    height: auto;
    margin-top:24px ;
    
}
.image-vertical-individual-L{
    width:100%;
    height: auto;
    margin-top:24px ;
    
}
.image-vertical-individual-R{
    width:100%;
    height: auto;
    margin-top:24px ;
    
    
}
header{
    background-color: rgb(250, 250, 250);

}

.menu-inicio{
    padding: 0px;
    margin-top: 25px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(250, 250, 250);
    
    
}
.margin-nav{
    margin: 8px;
}

header{
    position: fixed;
    top: 0PX;
    width: 100%;
    height: auto;
  
    
    }
    */
/*HOME*/
#negrita{
    font-weight: 1000;
}
.blur-text {
    
    color: transparent;
    position: relative;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    filter: blur(0px);
}



    
.container{
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
    padding: 3px;
    text-align: start;
    margin-top: 30%;
    
     
}
 
.container-inicio{
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
    padding: 3px;
    text-align: center;
    margin-top: 30%;
    
    
    
    
    
}
#galeria{
    margin: 24px;
    max-width: 100%;
    height: auto;
    
    
    
    
}

.scroll-to-top {
    position: fixed;
    bottom: 24px;
    right: 24px;
    padding: 10px 10px;
    
    
    
}

.scroll-to-top .material-icons{
    font-size: 2rem;
    color:rgba(0, 0, 0, 1);
}


/*ABOUT ME*/
main{
    margin-top: 30%;
}
#id-about-me{
        margin: 0;
        padding: 0;
        margin-top: 50%;
        text-align: start;
        margin: 30px;
        height: auto;
        width:80%;
    }
#about-me{
    margin-top: 25%;
}
.about-me-title{
    
    margin-top: 20%;

}
.about-me-bio{
    margin-top: 5%;
    
}

/*ABOUT-ME-contact*/

#contact{
    font-size: 1rem;
    text-align: end;
    margin-top: 20%;
    margin-right: 24px;
}

/*OBRA*/


#menu-obra{
    margin-top: 30%;
    font-size: 230%;
    
}
.container-obra{
    justify-content: start;
    margin:10%;
   
}

/*PROYECTO*/


.first-image-proyect{
    margin: 0;
    padding: 0;
}


/*
.nav-proyect{
    font-size: 3em;
    align-items: end;
    display: flex;
    flex-direction: column;
    columns: auto;
    position: fixed;
    width:90%;
    height: 90%;
    top:85%;
    color: aliceblue;
    
    font-size: 3rem;
    text-align: center;
    
    top: 85%;
    position: fixed;
    width: 100%;
    
    
    */
}
.nav-proyect {
    position: fixed;
    top: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    
  
}

.nav-arrow {
 
    padding: 15px;
    font-size: 2rem;
    
}

.up-arrow{
    margin-left: 8px;
    color: black;
    font-size: 3rem;
}

.down-arrow {
    margin-right: 8px;
    color: black;
    font-size: 3rem;
}
.text-proyect{
    margin: 24px;
    display: flex;
    flex-direction:unset;
    
    
}
.title-proyect{
    
    margin: 0px;
    text-align: start;
    height: auto;
    width: 50%;
    float:left;
    margin-bottom: 0;
    
    
    


}

.information-proyect{
   
    height: auto;
    width: 50%;
    float: right;
    margin-top: 56px;

}
.proyecto{
    
    
    display: flex;
    justify-content: center;
}
/*
.various-options:hover{
    
    color: rgb(255, 16, 16);
    
}
    */
.galeria-proyecto{
    margin: 25px;
}


footer{
  
    
    margin-top: 150px;
}

.scroll-to-top {
    position: fixed;
    bottom: 24px;
    right: 24px;
    padding: 10px 10px;
    
    
    
}

.scroll-to-top .material-icons{
    font-size: 2rem;
    color:rgba(0, 0, 0, 1);
}



























/*VERSION ESCRITORIO*/










@media (min-width: 1024px) {

    
       
body{
    margin: 0;
    background-color: rgb(250, 250, 250);
    padding: 0;
}


  
h1, h2, h3, h4, p{
    
    margin: 0;
    color: black;
    font-size: 1em;
    transition: font-size 0.25s ease-in-out;
    

    
}

h1{
    font-size: 400%;
    
 }
 
 h2{
     font-size: 280%;
 }
 h4{
    font-size:150%;
    
}
p{
    font-size: 120%;
}
a{
    text-decoration: none;
    color: black;
}
/*
a:hover{
    
    color: grey;
}
    */
.responsive-image{
    width:100%;
    height: auto;
    margin-top:24px ;


    
}
.image-vertical{
    max-height: 50%;
    justify-content: space-between;

    display: flex;

}

#about-me{
    margin: 8px;
    
}

#obra{
    margin: 8px;
}
.menu-inicio{
    padding: 0px;
    margin-top: 25px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    
    
}
html {
    overflow-y: scroll;
}


/*
header{
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    
    }
    */
/*HOME*/
#negrita{
    font-weight: 1000;
}

.blur-text {
    
    color: transparent;
    position: relative;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.blur-text::before {
    content: attr(data-text); /* Mismo contenido que el texto original */
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: blur(0px); /* Ajusta el valor del difuminado */
}




.container-inicio{
    max-width: 60%;
   
    height: auto;
    margin: 0 auto;
    padding: 3px;
    text-align: center;
    margin-top: 0%;
    
    
    
    
    
}


#galeria{
    margin: 24px;
    max-width: 100%;
    height: auto;
    
    
    
    
}

/*ABOUT ME*/
#id-about-me{
    margin: 0;
    padding: 0;
    margin-top: 50px;
    text-align: start;
    margin: 30px;
    height: auto;
    width:70%;
    
}
main{
    
    margin-top: 10%;
    margin-left: 24px;
}

#about-me{
    margin-top: 25%;
}
.about-me-title{
    
    top: 4;
    font-size: 1.5vw;

}
.about-me-bio{
    margin-top: 10%;
    font-size: 1.5vw;
    
}

/*ABOUT-ME-contact*/

#contact{
    text-align: right;
    margin-top: 10%;
    margin: 32px;
    font-size: 1.5vw;
   
}

/*OBRA*/


#menu-obra{
    margin: 50px;
    font-size: 230%;
    text-align: start;
   

}

.container-obra{
    justify-content: start;
    margin-left: 20%;
    margin-top: 180px;
}

/*PROYECTO*/
    /*navegador-proyecto*/

header{
    position: fixed;
    top: 0PX;
    width: 100%;
    height: auto;
        
        
      
        
}

.nav-proyect{
    font-size: vw;
    align-items:center;
    display:flex;
    flex-direction: column;
    position: fixed;
    width:48px;
    top:75%;
    left: 80%;
    
}

.up-arrow{
    padding: 8px;
    margin: 0;
    color: black;
 
}

.down-arrow {
    padding: 8px;
    margin: 0;
    color: black;
  
}

.up-arrow:hover{
    
    color: gray;
   
}

.down-arrow:hover{
    
    color: gray;
 
}


    /*contenido-proyecto*/
   
    .image-gallery img {
       
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    

    
    .fullscreen-container {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        z-index: 1000;
    }
    
    .fullscreen-image {
        max-width: 95%;
        max-height: 95%;
    }

    .fullscreen-container .left-half,
    .fullscreen-container .right-half {
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
        cursor: pointer;
        z-index: 1; /* Asegura que están encima de la imagen */
    }
    
    .fullscreen-container .left-half {
        left: 0;
        cursor: w-resize;
        
    }
    
    .fullscreen-container .right-half {
        right: 0;
        cursor:w-resize;
    }

 
    .close {
        position: absolute;
        top: 30px;
        right: 210px;
        font-size: 350%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        
        cursor: pointer;
        z-index: 2; /* Asegura que está encima de todo */
    }
    
    .close:hover {
        color: #bbb;
    }
.container{
    max-width: 50%;
    max-height: 70%;

    margin: 0 auto;
    padding: 3px;
    text-align: center;
    margin-top: 50px;
    
   
    
    
    
}
    
.first-image-proyect{
    margin: 0;
    padding: 0;
}



.text-proyect{
    margin: 0;
    padding-top: 24px;
    display: flex;
    
    
    
}

.title-proyect{
    text-align:start;
    width: 35%;
}
.information-proyect{
    margin: 5px;
    margin-top: 0;
    text-align: start;
    width: 65%;
}
.proyecto{
    
    
    display: flex;
    justify-content: center;
}

.various-options:hover{
    
    color: rgba(0, 0, 0, 0.251);
    font-size: 120%;
    transition: font-size 0.25s ease-in-out;
}
    
.image-vertical{
    max-width:m-content;
    text-align: center;
    
}
.image-vertical-individual-L{
    width:100%;
    height: auto;
    margin-top:24px ;
    
    margin-right: 12px;
}
.image-vertical-individual-R{
    width:100%;
    height: auto;
    margin-top:24px ;
    margin-left: 12px;
    
}
.galeria-proyecto{
    margin: 25px;
    align-items: center;
   
}


footer{
  
    
    margin-top: 100px;
}


.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 3em;
    
    
    padding: 10px 20px;
    text-decoration: none;
    

} 

    
}